<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" style="margin-left: 1rem;" class="text-decoration-none text-dark fs-3">Library</a>
          <form class="d-flex w-50">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  All categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            <input class="form-control me-2" type="search" placeholder="Search by ISBN, title, author" aria-label="Search">
          </form>
          <form class="d-flex">
            <button class="btn btn-outline-dark" style="margin-right: 1rem;" type="submit"><i class="fa-solid fa-right-to-bracket fa-2x"></i></button>
          </form>
        </div>
      </nav>

      <div class="card-group m-3">
      <div class="card m-3" style="width: 19rem;">
        <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
        <div class="card-body text-center">
            <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
            <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
          <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
        </div>
      </div>
      <div class="card m-3" style="width: 19rem;">
        <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
        <div class="card-body text-center">
            <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
            <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
          <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
        </div>
      </div>
      <div class="card m-3" style="width: 19rem;">
        <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
        <div class="card-body text-center">
            <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
            <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
          <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
        </div>
      </div>
      <div class="card m-3" style="width: 19rem;">
        <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
        <div class="card-body text-center">
            <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
            <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
          <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
        </div>
      </div>
    </div>
    <div class="card-group m-3">
        <div class="card m-3" style="width: 19rem;">
            <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
            <div class="card-body text-center">
                <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
                <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
              <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
            </div>
          </div>
          <div class="card m-3" style="width: 19rem;">
            <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
            <div class="card-body text-center">
                <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
                <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
              <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
            </div>
          </div>
          <div class="card m-3" style="width: 19rem;">
            <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
            <div class="card-body text-center">
                <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
                <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
              <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
            </div>
          </div>
          <div class="card m-3" style="width: 19rem;">
            <a href="#"><img class="card-img-top" src="https://loremflickr.com/640/480" alt="Card image cap"></a>
            <div class="card-body text-center">
                <a href="#" class="text-decoration-none text-dark"><h1 class="card-title">Book title</h1></a>
                <a href="#" class="text-decoration-none text-dark"><h4 class="card-text">John Doe</h4></a>
              <h2 style="margin-top: 0.5rem;"> Stock: 45</h2>
            </div>
          </div>
    </div>
      

      <footer class="footer py-4 border-top">
        <p class="text-center text-muted">
            Jarmo T. | <a class="link-secondary" href="https://github.com/JarmoTro"><i class="fa fa-brands fa-github-square fa-lg"></i></a> | <a class="link-secondary text-decoration-none" href="https://www.linkedin.com/in/jarmo-troska-71117b241/"><i class="fa fa-brands fa-linkedin fa-lg"></i> | & </a>
            Kaspar K. | <a class="link-secondary" href="https://github.com/KoppelTAR"><i class="fa fa-brands fa-github-square fa-lg"></i></a> | &#169; 2022</a> 
 
        </p>
    </footer>
    <script src="https://kit.fontawesome.com/51dc6e0b3e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>